@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#292929;
}

.wrapper{
    width: 420px;
    background:#121212;
    color: white;
    padding: 30px 40px;
    border-radius: 10px;
}

.wrapper h1{
    font-size: 24px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
   width: 100%;
 height: 50px;

 margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid #333;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:white;
    font-size: 18px;
    padding-left: 15px;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .Submit{
    width: 100%;
    height: 50px;
    background: #3498db;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: 600;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 50px;
    background:#fff ;
    border: none;
    outline: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-weight: 600;
}

.wrapper .register-link{
   font-size: 14.5px;
   text-align: center;
   margin: 20px 0 15px;
}

.register-link a{
    color: white;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration: underline;
}

